@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
}
.header-section{
    display: flex;
    max-width: 1360px;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    justify-content: space-between;
}
.nav-bar {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    list-style: none;
   margin-right: 15px;
   gap: 32px;
}
.nav-bar a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s ease;
}
.btn{
    padding: 12px 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    background-color: #469165;
    transition: 0.5s ease;
}
.btn:hover{
    background-color: #2b5a3f;
}
.nav-bar a:hover{
    color: #469165;
}