@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
}
.header-section{
    display: flex;
    max-width: 1360px;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    justify-content: space-between;
}
.nav-bar {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    list-style: none;
   margin-right: 15px;
   gap: 32px;
}
.nav-bar a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s ease;
}
.btn{
    padding: 12px 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    background-color: #469165;
    transition: 0.5s ease;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background-color: #2b5a3f;
}
.nav-bar a:hover{
    color: #469165;
}
.hero-section {
    align-items: center;
    margin: 25px auto;
    max-width: 1600px;
    position: relative;
    justify-content: center;
}
.header-section img{
    width: 100%;
}
.hero-contant{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.button{
    padding: 8px 12px;
    color: #469165;
    font-size: 16px;
    top: 20%;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 100px;
    border: none;
    background-color: #ffffff;
    transition: 0.5s ease;
}
.button:hover{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.green{
    color: #469165;
}
.hero-section{
    position: relative;
    justify-content: center;
}
.hero-tittle{
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    max-width: 980px;
    text-align: left;
}
.paragraph{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    margin-top: 12px;
    line-height: 24px;
}
.hero-btn{
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 25px;
    
}
.button1{
    padding: 12px 16px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border: 1px solid #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
.button1:hover{
    color: #469165;
    border: 1px solid #469165 ;
}
.Structure-Does{
    max-width: 1360px;
    align-items: center;
     margin: 10px auto 40px;
     padding: 0 20px;
}
.structure-heading{
    font-weight: 700;
    font-size: 48px;
    color: #001931;
    text-align: center;
}
.structure-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
}
.structure-card-wraper{
    max-width: 1360px;
    display: flex;
    margin-top: 15px;
    gap: 16px;
}
.card{
    margin-top: 20px;
    background-color: #ffffff;
    width: 322px;
    padding:  40px 24px;
    height: auto;
    box-shadow: 0 10px 9px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.card img{
    width: 30px;
    height: 30px;
   
}
.circle{
    background-color: #f95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.card-heading{
    font-size: 25px;
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
}
.card-paragraph{
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #627382;
}
.soulition-section{
    display: flex;
    max-width: 1360px;
    gap: 80px;
    margin: 40px auto;
}
.soulition-contant{
    display: flex;
    flex-direction: column;
    margin: 80px auto 40px;
}
.souliton-green{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.soulition-heading{
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.souliton-paragraph{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 20px;
}
.chack li i{
    color: #469165;
}
.chack li{
    list-style: none;
    margin-bottom: 5px;
    margin-top: 20px;
}
.ready-think-section{
    max-width: 1360px;
    margin: 60px auto 40px;
    display: flex;
    flex-direction: column;
    background-color: #f7f6f2;
    padding: 80px 40px;
    border-radius: 12px;
    justify-content: center;
}
.ready-think-heading{
    margin: 40px auto 20px;
    text-align: center;
    font-weight: 700;
}
.reday-think-paragraph{
    margin-bottom: 8px;
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.think-button-early-free {
    display: flex;
     flex-direction: column; 
     gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.early-free{
    font-size: 16px ;
    font-weight: 400;
    color: #627382;
    margin-top: 10px;
}
.footer-contant{
    background-color: #001931;
}
.footer-section{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding: 80px 50px;
    margin: 0 auto;
}
.socal-cointainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.socal-icon{
    display: flex;
    gap: 20px;
    list-style: none;
}
.socal-icon li:hover{
    color: #469165;
}
.hr-line{
    color: #627382;
    max-width: 1500px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.footer{
color: #ffffff;
justify-content: center;
align-items: center;
text-align: center;
margin-bottom: 20px;
padding: 10px;
}
