@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
}
.header-section{
    display: flex;
    max-width: 1360px;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    justify-content: space-between;
}
.nav-bar {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    list-style: none;
   margin-right: 15px;
   gap: 32px;
}
.nav-bar a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s ease;
}
.btn{
    padding: 12px 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    background-color: #469165;
    transition: 0.5s ease;
}
.btn:hover{
    background-color: #2b5a3f;
}
.nav-bar a:hover{
    color: #469165;
}
.hero-section {
    /* justify-content: center; */
    align-items: center;
    margin: 12px auto ;
    max-width: 1600px;
    position: relative;
    justify-content: center;
}
.header-section img{
    width: 100%;
}
.hero-contant{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.button{
    padding: 8px 12px;
    color: #469165;
    font-size: 16px;
    top: 20%;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 100px;
    border: none;
    background-color: #ffffff;
    transition: 0.5s ease;
}
.button:hover{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.green{
    color: #469165;
}
.hero-section{
    position: relative;
    height: 100vh;
    justify-content: center;
}
.hero-tittle{
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    max-width: 980px;
    text-align: left;
}
.paragraph{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    margin-top: 12px;
    line-height: 24px;
}
.hero-btn{
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 25px;
    
}
.button1{
    padding: 12px 16px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border: 1px solid #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
.button1:hover{
    color: #469165;
    border: 1px solid #469165 ;
}
